
.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}
.table {
  border-collapse: collapse;
  width: 100%;
  }
 
.h2{
  color:  #e26715;;
}
.thead{
  border: 1px solid #e28915;
  background-color: rgb(250, 203, 117);
  text-align: center;
  padding: 8px;
  font-size: 17px;
} 
 
.add{
  background-color: rgb(250, 203, 117);
  border: 2px solid #51c71a;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  margin: 15px;

}
.input {
  background-color: rgb(235, 253, 205);
  border: 1px solid #51c71a;
}
.button{
  border: 2px solid #51c71a;
  font-weight: bolder;
  background-color: rgb(235, 253, 205);
}